body {
  display: flex;
  justify-content: center;
}


.app {
  height: 500px;
  width: 100vh;
}

.map {
  height: 100%;
  width: 100%;
}

.marker {
  background-image: url( 'https://images.pexels.com/photos/7823/selfie.jpg?auto=compress&cs=tinysrgb&h=750&w=1260' );
  background-size: cover;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: solid 3px orange;
}

.search-bar {
  margin-top: 20px;
}

.marker-delivery {
  background-color: red;
  width: 30px;
  height: 30px;
}